# Ignore everything except the files you want.
*
!README.md
!.gitignore
!hypr/
!hypr/**
!wlogout/
!wlogout/**
!rofi/
!rofi/**
!fastfetch/
!fastfetch/**
!quickshell/
!quickshell/**
!cava/
!cava/quickshell_config
!zsh/
!zsh/.zshrc
!atuin/
!atuin/** 

# --- Global security ---
*.key
*.pem
*.secret
.env
.password*

# --- Cache ---
.cache/